
<div style="text-indent: 8px;color: #fff; font-size:16px;background-color: #a7b8ca;padding-top: 1px;padding-bottom: 1px;margin-top: 0px">MISC</div>
 
<div style="text-indent: 8px;font-size:16px" >
    <div>
      <a href="mailto:gkpeng@tencent.com" style="color: #909090">邮件</a>
    </div>

    <div>
      <a href="{{ site.url }}/categories/" style="color: #909090">留言（开发中）</a>
    </div>

    <div>
      <a href="https://github.com/pengguokan/pengguokan.github.io" style="color: #909090">GitHub</a>
    </div>
</div>
