<h3>MISC</h3>

<div class="tile is-4 is-child">
<!--     <div class="tile is-parent is-vertical sidebar">

    <div class="tile is-child widget"> -->

    <div class="card">


        <div class="card-content">
            <div class="content nice-text">
              <li>
                  <a href="https://gkpeng@tencent.com">给我发Email</a>
                </li>

                <li>
                  <a href="https://gkpeng@tencent.com">留言</a>
                </li>

                <li>
                  <a href="https://gkpeng@tencent.com">Github</a>
                </li>
            </div>
        </div>
    </div>
</div>
